<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.ico" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
      <h2><a href="{{ .glink }}">Login with Google!</a></h2>
      <h2><a href="{{ .flink }}">Login with facebook!</a></h2>
  </body>
</html>
